html {
  background-color: beige
}

div,
.flex {
  text-align: center;
}

header {
  background: url("https://th.bing.com/th/id/OIP.JVI4NkmQZYdwm86E8YhLGQHaE7?w=209&h=181&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-size: cover;
  color: white;
}

h2 {
  text-align: center;
  color: black;
  border: 10px;
}

.container img {
  border-color: black;
  align-items: center;
}

p {
  margin: 10px;
  color: black;
}

h4 {
  color: black;
}

ul {
  color: black;
  list-style-type: none;
}

p2 {
  color: black;
}

a {
  color: black;
}

li:hover {
  color: red;
}
